<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Compass</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="top_nav">
            <div class="icon">
                <h3>Kitchen Compass</h3>
            </div>
            <div class="search">
                <input type="text" placeholder="Search Recipes">
            </div>
        </div>
        <a class="navbar_links" href="/breakfast">Breakfast</a>
        <a class="navbar_links" href="/lunch">Lunch</a>
        <a class="navbar_links" href="/dinner">Dinner</a>
        <a class="navbar_links" href="/sidedishes">Side Dishes</a>
        <a class="navbar_links" href="/dessert">Desserts</a>
        <a class="navbar_links" href="/addrecipe">Add Recipe</a>
    </nav>

    <!-- Main Content -->
     <main>
        {% block content %}
        {% endblock %}
     </main>

    <!-- Footer -->
    <footer>
        <p>©</p>
    </footer>

</body>
</html>