{% extends "base.html" %}


{% block content %}

<h1>Welcome to Kitchen Compass!</h1>

<p>Your one-stop hub for organizing all your favorite recipes. No more<br> 
    jumping between sites—store, access, and savor your cherished meals<br> 
    all in one convenient place.
</p>

<h3>Explore</h3>
<h4>Breakfast</h4>
<h5>Southwest Breakfast Burritos</h5>
<img src="static/images/blank_img.png" alt="blank image">
<p>Total Time: 1hrs 5 mins</p>

<h4>Lunch</h4>
<h5>Baja Fish Tacos</h5>
<img src="static/images/blank_img.png" alt="blank image">
<p>Total Time: 70 mins</p>

<h4>Side Dishes</h4>
<h5>Italian Peas</h5>
<img src="static/images/blank_img.png" alt="blank image">
<p>Total Time: 20 mins</p>

<h4>Dinner</h4>
<h5>Chicken Parmesan</h5>
<img src="static/images/blank_img.png" alt="blank image">
<p>Total Time: 45 mins</p>

<h4>Dessert</h4>
<h5>Tiramisu Toffee</h5>
<img src="static/images/blank_img.png" alt="blank image">
<p>Total Time: 1hrs 20 mins</p>






{% endblock %}